<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC model</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <form action="/next" method="POST">
    <center>
        <h1>HOME PAGE</h1>
        <label for="name">Name:</label>
        <input type="text" name="name" required>
        <button type="submit">Submit</button>

    </form>
</body>
</html>